@charset "uft-8";

html {
    background: #F2F4F3;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
    line-height: 25pt;
}

/* Navigation Styles */

nav li {
    display: block;
    float: left;
    width: 10%;
    padding: 10px 25px 35px 25px;
}

nav li a { 
    list-style: none;
    text-decoration: none; 
    font-weight: bold;
}

nav a:link, nav a:visited {
    color: darkcyan;
    transition: height 0.5s, width 0.5s;
}
 
nav a:hover, nav a:active {
    color:darkblue;
    transition: height 0.5s linear, width 0.5s ease-in-out;
}

/* Image Layout */

img {
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(64, 197, 188, 0.3);
    margin-left: 25%;
}

section > h1, h2, p {
    text-align: center;
}

section > p {
    margin: 0% 5% 3% 5%;
}

input {
    margin-left: 45%;
    padding: 10px;
    color:#0C98BA;
    margin-bottom: 50px;
    font-weight: bold;
}

/* Footer Styles */

footer {
    color: whitesmoke;
    background-color: rgb(21, 51, 80);
    text-align: center;
    padding: 15px 0px;
 }
 
 .fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 65%;
 }
 .fa:hover {
    opacity: 0.7;
 }
 
 .fa-facebook {
    background: #3B5998;
    color: white;
 }
 
 .fa-twitter {
    background: #55ACEE;
    color: white;
 }
 
 .fa-instagram {
    background: #ea4c89;
    color: white;
 }
 
 .fa-youtube {
    background: #bb0000;
    color: white;
 }